/* GRID */
.grid-container.object-home:not(.php-home-categories){
    gap: 1%!important;
    display: flex!important;
    flex-wrap: wrap!important;
    align-items: center!important;
    justify-content: center!important;
    margin: 1% 0.5%!important;
}

.furniture-infinite-grid-items { flex: 0 1 48%!important; }

@media only screen and (min-width: 800px){
    .furniture-infinite-grid-items { flex: 0 1 32%!important; }
}
@media only screen and (min-width: 1200px){
    .furniture-infinite-grid-items { flex: 0 1 24%!important; }
}
@media only screen and (min-width: 1500px){
    .furniture-infinite-grid-items { flex: 0 1 19.2%!important; }
}
/* //GRID */

.slideCTAWrapper {
    display: none;
}

.SlideHeadlineWrapper .ctaLink {
    display: none;
}

.noSliderSpacer + #main .hide-when-no-slider {
    display: none!important;
}

.headerWrapper {
    position: inherit!important;
    background-image: url('../img/main-background-wood-grain.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto!important;
}
.wood-background {
    background-image: url('../img/main-background-wood-grain.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.breadcrumbs {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.breadcrumbs a {
    display: inline-block;
}

.middleHeader {
    grid-template-columns: 300px 1fr;
}
.middleRightHeader {
    padding-top: 0;
}

.large-icons .icons {
    font-size: 19px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    color: #CACACA;
}
.large-icons .icons:active,
.large-icons .icons:focus,
.large-icons .icons:hover {
    color: #fff
}
.staticHeader {
    grid-template-columns: auto auto auto;
}
.mobileStaticHeader {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.mobileHeaderLogoWrapper {
    padding-top: 4em;
}

.staticAddressWrapper {
    text-align: center;
}
.mobileButton>div {
    width: 100%;
}
.searchButtonWrapper {
    display: none;
}

.mobileStaticHeaderWrapper {
    height: 45px;
    background-color: #72949c;
}

.mobileButtonWrapper {
    height: 45px;
}
.mobileFurnitureMenuWrapper, .mobileMenuWrapper {
    bottom: 45px;
}


.hamburger {
    padding: 8px 15px 8px 15px;
}

/* DRAWER */
@media only screen and (min-width : 864px) {
    .drawerClosed {
        margin-left: 0px!important;
    }
    .sliderSystemWrapper {
        display: none!important;
    }
    .drawerClosed {
        margin-left: 45px;
    }
    .sliderButtonWrapper.openSlider,
    .sliderButtonWrapper.closeSlider {
        width: 45px;
    }
    .sliderButtonWrapper.openSlider.offScreen,
    .sliderContentWrapper {
        left: -45px;
    }
    .sliderMenuContact {
        margin-right: 45px;
    }
    .sliderMenuLogoWrapper,
    .sliderRoomBrowseHeaderWrapper,
    .middleRightHeader {
        padding-right: 45px;
    } 
}

.middleHeaderWrapper {
    padding-top: 45px;
}


/* weaversfarmandfurniture.com */
.weavers-farm-and-furniture .mobileStaticHeaderWrapper {
    height: 50px;
    background-color: rgb(117, 15, 28);
}
.weavers-farm-and-furniture .wood-background {
    background-image: none;
}
.weavers-farm-and-furniture .noSliderSpacer {
    display: none;
}
.weavers-farm-and-furniture .mobileStaticHeader {
    padding-top: 0.em;
}
@media screen and (max-width: 863px) {
    .weavers-farm-and-furniture .mobileStaticHeaderWrapper.boxShadow * {
        outline: 1px solid red;
    }
    .weavers-farm-and-furniture .mobileStaticContactWrapper p {
        margin: 0;
    }
    .weavers-farm-and-furniture .mobileStaticHeader {
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .weavers-farm-and-furniture .headerWrapper {
        max-height: 187px;
        border-bottom: 7px solid #750f1c;
    }
    .weavers-farm-and-furniture .mobileStaticSocial > div > ul {
        margin: 0;
    }
    .weavers-farm-and-furniture .mobileStaticHeader > div:first-child {
        width: 33%;
    }
    .weavers-farm-and-furniture .mobileStaticHeader > div:last-child {
        width: 66%;
    }
}
.weavers-farm-and-furniture .furnitureMenuButton a {
    height: 40px;
    width: 40px;
    top: -20px;
}

/* charihofurniture.com */
body.chariho-furniture, 
body.chariho-furniture h1, 
body.chariho-furniture h2, 
body.chariho-furniture h3, 
body.chariho-furniture h4, 
body.chariho-furniture h5, 
body.chariho-furniture h6, 
body.chariho-furniture li, 
body.chariho-furniture a {
    font-family: 'Montserrat', sans-serif!important;
}
body.chariho-furniture .noSliderSpacer {
    display: none!important;
}

aside.chariho-furniture header {
    padding-top: 15px;
    padding-bottom: 5px;
    background-image: url(https://charihofurniture.com/wp-content/themes/selectConnectLeftDrawerStyle/assets/images/main-background-wood-grain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
aside.chariho-furniture header h2 {
    color: #00375b;
}

.chariho-furniture .mobileMenuWrapper {
    bottom: 45px;
    /* width: calc(100% - 45px); */
    width: 100%;
}
.chariho-furniture .mobileMenuWrapper,
.chariho-furniture .mobileButtonWrapper {
    margin-left: -1.5em;
}


.chariho-furniture .mobileButtonWrapper,
.chariho-furniture .mobileStaticHeaderWrapper {
    /* width: calc(100% - 45px); */
    width: 100%;
}
@media only screen and (min-width: 1024px){
    .grid-container.collection-image.object-home.chariho-furniture {
        grid-template-columns: repeat(3, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.chariho-furniture .grid-item{
        height: 300px;
    }
}

.furniture-single-view .title-highlight {
    background-color: #009aff!important;
}
.breadcrumbs.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* padutchwoodcraft.com  */
body.pa-dutch-woodcraft { 
    background-image: none!important;
}
body.home.pa-dutch-woodcraft .custom-logo-link img { 
    max-width: 170px;
}
.pa-dutch-woodcraft a#loadMore {
    background-color: black;
    color: #dcad6f;
}
body.pa-dutch-woodcraft .noSliderSpacer {
    display: none!important;
}

.pa-dutch-woodcraft .furnitureMenuButton a {
    position: relative;
    height: 40px;
    width: 40px;
    top: inherit;
    display: inline-block;
}
.pa-dutch-woodcraft .footerIconsWrapper { 
    position: relative;
}
.pa-dutch-woodcraft .footerIconsWrapper:after {
    width: 100%;
    display: block;
    height: 40px;
    background-image: url('../img/first-place-ribbon.png');
    background-position: center top;
    background-size: 40px;
    content: '';
    background-repeat: no-repeat;
    top: -20px;
    position: absolute;
    left: 0;
    z-index: 1;
}

@media only screen and (min-width: 1024px){
    body.home.pa-dutch-woodcraft .headerWrapper {
        position: absolute!important;
        background-image: none!important;
    }

    .grid-container.collection-image.object-home.pa-dutch-woodcraft {
        grid-template-columns: repeat(4, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.pa-dutch-woodcraft .grid-item{
        height: 340px;
    } 
}

@media all and (min-width:82em){
  body.pa-dutch-woodcraft .bottomLinks{
    width: 33.33%;
  }
}


/* circlesinthewind.us  */

/* shopach.com  */
/* amish-country-heirlooms---arthur-il  */
.home.amish-country-heirlooms---arthur-il .outerFurnitureLinkBoxWrapper {
    display: none!important;
}
.amish-country-heirlooms---arthur-il .custom-logo {
    max-width: 255px;
}
.amish-country-heirlooms---arthur-il .swiperContentWrapper {
    padding-top: 19em;
}
.amish-country-heirlooms---arthur-il .desktopHeaderWrapper {
    background-color: transparent;
}
.amish-country-heirlooms---arthur-il .facebook-link-mobile {
    display: block;
}
.amish-country-heirlooms---arthur-il .facebook-link-desktop {
    display: none;
}
.amish-country-heirlooms---arthur-il .innerSwiperContentWrapper {
    background-color: rgba(255, 255, 255, 1);
}
.amish-country-heirlooms---arthur-il a.header-icon img {
    max-height: 25px;
    margin: 0px 6px;
}

.amish-country-heirlooms---arthur-il .fixedHeaderWrapper {
    text-align: center;
}
.amish-country-heirlooms---arthur-il .fixedHeader {
    max-width: 1200px;
    padding: 0 2em;
}
.amish-country-heirlooms---arthur-il .fixedHeader > div.phoneWidgetWrapper {
    text-align: left;
}
.amish-country-heirlooms---arthur-il .fixedHeader > div.addressWidgetWrapper {
    text-align: right;
}
.amish-country-heirlooms---arthur-il .mobileMenu ul,
.amish-country-heirlooms---arthur-il .menu-item.menu-item-has-children .sub-menu {
    padding-top: 0em;
}

.amish-country-heirlooms---arthur-il #menu-main-menu > li > a { display: block; }

.amish-country-heirlooms---arthur-il .menu-item.menu-item-has-children.openSubMenu > a {
    background-color: #000000;
    color: #f2eee9;
}


.amish-country-heirlooms---arthur-il .desktopHeaderWrapper {
    padding-top: 45px;
}
.amish-country-heirlooms---arthur-il .flexMenuWrapper {
    display: block;
}
.amish-country-heirlooms---arthur-il .leftMenuWrapper {
    display: none;
}
.amish-country-heirlooms---arthur-il .logoWrapper {
    width: 100%;
}

.amish-country-heirlooms---arthur-il .rightMenuWrapper {
    width: 100%;
}

.amish-country-heirlooms---arthur-il #menu-item-2163,
.amish-country-heirlooms---arthur-il #menu-item-2166,
.amish-country-heirlooms---arthur-il #menu-item-2164,
.amish-country-heirlooms---arthur-il #menu-item-2165 {
    display: none;
}

.amish-country-heirlooms---arthur-il .element-is-not-sticky #menu-item-2163,
.amish-country-heirlooms---arthur-il .element-is-not-sticky #menu-item-2166,
.amish-country-heirlooms---arthur-il .element-is-not-sticky #menu-item-2164,
.amish-country-heirlooms---arthur-il .element-is-not-sticky #menu-item-2165 {
    display: block;
}
.amish-country-heirlooms---arthur-il #menu-every-items-menu.element-is-sticky {
    border-bottom: 2px solid;
}

.amish-country-heirlooms---arthur-il .rightMenuWrapper ul.menu {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
}

.amish-country-heirlooms---arthur-il .breaker {
    font-size: 0;
    flex-basis: 100%;
    height: 0px;
}

.amish-country-heirlooms---arthur-il .wideMenuWrapper li {
    padding-left: 0;
    padding-right: 0;
}


@media only screen and (max-width: 640px){
    .amish-country-heirlooms---arthur-il .logoWrapper,
    .amish-country-heirlooms---arthur-il .mobileButtonWrapper {
        width: 100%!important;
    }
}
@media only screen and (min-width: 800px){
    .amish-country-heirlooms---arthur-il .facebook-link-mobile {
        display: none;
    }
    .amish-country-heirlooms---arthur-il .facebook-link-desktop {
        display: block;
    }
}

/* theamishconnection.com */
.amish-connection .noSliderSpacer {
    display: none!important;
}
.amish-connection .mobileStaticHeaderWrapper {
    height: 50px;
    background-color: #000;
}
.amish-connection .mobileStaticHeader {
    padding-top: 0em;
}
.amish-connection a:hover {
    letter-spacing: normal!important;
}
.amish-connection .swiperOverlay {
    background-color: rgba(255, 255, 255, 0.25);
}
.amish-connection .SlideHeadlineWrapper h2,
.amish-connection .SlideHeadlineWrapper h3,
.amish-connection .SlideHeadlineWrapper a.ctaLink {
    text-shadow: 1px 2px 3px white;
}

.amish-connection.furniture-category .single-page-article .entry > div.pagination-wrap {
    display: none;
}
.amish-connection.furniture-category .single-page-article .entry {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    display: flex;
    flex-direction: column-reverse;
}

/* Share AddThis.com */
.at-share-btn-elements {
    max-width: 250px;
}
.at-svc-print {
    background-color: rgb(168 168 168);
    margin-top: 5px;
}
.at-svc-print:after {
    content: 'Print / Save as PDF';
    display: inline-block;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    font-size: 16px;
    line-height: 29px;
    font-weight: 700;
    margin-right: 15px;
    margin-top: 3px;
    letter-spacing: 1px;
    margin-left: 15px;
}
.at-resp-share-element .at-share-btn:focus, 
.at-resp-share-element .at-share-btn:hover {
    transform: none!important;
    -ms-transform: none!important;
    -moz-transform: none!important;
    -webkit-transform: none!important;
}

/*********/
/* PRINT */
/*********/ 

@media print {
    aside,
    aside *,
    footer,
    footer *,
    .headerCalloutWrapper,
    .headerCalloutWrapper *,
    .breadcrumbs,
    .breadcrumbs *,
    .row-options-header,
    .row-options-header *,
    .row-variants-header,
    .row-variants-header *,
    .get-quote-form-btn,
    .get-quote-form-btn *,
    .furnitureCustomizationBlockWrapper,
    .furnitureCustomizationBlockWrapper *,
    .furnitureOptionsBlockWrapper,
    .furnitureOptionsBlockWrapper *,
    .contactBlockWrapper,
    .contactBlockWrapper *,
    #menu-every-items-menu, 
    #menu-main-menu,
    #menu-main-menu *,
    #scroll-top,
    #scroll-top *,
    .desktopMenu,
    .desktopMenu *,
    .pageBottomWrapper,
    .pageBottomWrappe *,
    .zoomImg,
    .outerFurnitureLinkBoxWrapper,
    .outerFurnitureLinkBoxWrapper *,
    .footerCopyrightWrapper,
    .footerCopyrightWrapper *,
    .zoom:before,
    .zoom:after,
    .at-svc-print:after
    { 
        display: none!important;
    }
    .pa-dutch-woodcraft #menu-main-menu,
    .pa-dutch-woodcraft #menu-main-menu * {
        display: block!important;
    }
    .pa-dutch-woodcraft #menu-item-1512,
    .pa-dutch-woodcraft #menu-item-1513 {
        display: inline-block!important;
    }
    .pa-dutch-woodcraft #menu-item-18,
    .pa-dutch-woodcraft #menu-item-19,
    .pa-dutch-woodcraft #menu-item-1541 {
        display: none!important;
    }
    img.custom-logo,
    .left-column,
    .right-column {
        display: block!important;
    }
    img.custom-logo {
        margin-top: 10mm;
    }
    img#hover-effect {
        width: auto!important;
        max-height: 150mm!important;
        margin: 20mm auto!important;
    }
    a[href]:after {
        content: none !important;
    }
}