/* GRID */
.grid-container.object-home:not(.php-home-categories){
    gap: 1%!important;
    display: flex!important;
    flex-wrap: wrap!important;
    align-items: center!important;
    justify-content: center!important;
    margin: 1% 0.5%!important;
    padding: 0!important;
    max-width: 100%!important;
}

.furniture-infinite-grid-items { flex: 0 1 48%!important; }

.furnitureMenuButton a {
    height: 40px;
    width: 40px;
    top: -20px;
}

.footerCopyright {
    font-size: 13px;
    line-height: 1.4;
}
.footerCopyright a {
    text-decoration: underline;
}

@media only screen and (max-width: 799px){
    ul#menu-main-menu-1 {
        padding-top: 0;
    }
}    
@media only screen and (min-width: 800px){
    .furniture-infinite-grid-items { flex: 0 1 32%!important; }
}
@media only screen and (min-width: 1200px){
    .furniture-infinite-grid-items { flex: 0 1 24%!important; }
    .related-products .furniture-infinite-grid-items { flex: 0 1 19.2%!important; }
}
@media only screen and (min-width: 1500px){
    .furniture-infinite-grid-items { flex: 0 1 19.2%!important; }
}
/* //GRID */

.slideCTAWrapper {
    display: none;
}

.SlideHeadlineWrapper .ctaLink {
    display: none;
}

.noSliderSpacer + #main .hide-when-no-slider {
    display: none!important;
}

.headerWrapper {
    position: inherit!important;
    background-image: url('../img/main-background-wood-grain.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto!important;
}
/*.wood-background {
    background-image: url('../img/main-background-wood-grain.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.related-products.products-from-same-collection .wood-background {
    background-image: url('../img/main-background-wood-grain.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.related-products.products-from-same-collection .wood-background .container {
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0;
    margin-right: 0;
}

.home .furnitureCustomizationBlockWrapper { 
    margin-top: -30px;
}

.home .furnitureCategoryHeader .panel-grid-cell {
    z-index: 10;
}


.breadcrumbs {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.breadcrumbs a {
    display: inline-block;
}

.middleHeader {
    grid-template-columns: 300px 1fr;
}
.middleRightHeader {
    padding-top: 0;
}

.large-icons .icons {
    font-size: 19px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    color: #CACACA;
}
.large-icons .icons:active,
.large-icons .icons:focus,
.large-icons .icons:hover {
    color: #fff
}
.staticHeader {
    grid-template-columns: auto auto auto;
}


@media screen and (max-width: 799px) {
    .mobileStaticHeader {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
    .mobileStaticHeader {
        padding-top: 0em;
        padding-bottom: 0em;
    }
    .desktopMainMenuWrapper ul {
        padding-top: 0.5em;
    }
}

@media screen and (min-width: 1200px) {
    .mobileStaticHeader {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .desktopMainMenuWrapper ul {
        padding-top: 0em;
    }
}

.mobileHeaderLogoWrapper {
    padding-top: 4em;
}

.staticAddressWrapper {
    text-align: center;
}
.mobileButton>div {
    width: 100%;
}
.searchButtonWrapper {
    display: none;
}

.mobileStaticHeaderWrapper {
    height: 45px;
    background-color: #72949c;
}

.mobileButtonWrapper {
    height: 45px;
}
.mobileFurnitureMenuWrapper, .mobileMenuWrapper {
    bottom: 45px;
}


.hamburger {
    padding: 8px 15px 8px 15px;
}

/* DRAWER */
@media only screen and (min-width : 864px) {
    .drawerClosed {
        margin-left: 0px!important;
    }
    .sliderSystemWrapper {
        display: none!important;
    }
    .drawerClosed {
        margin-left: 45px;
    }
    .sliderButtonWrapper.openSlider,
    .sliderButtonWrapper.closeSlider {
        width: 45px;
    }
    .sliderButtonWrapper.openSlider.offScreen,
    .sliderContentWrapper {
        left: -45px;
    }
    .sliderMenuContact {
        margin-right: 45px;
    }
    .sliderMenuLogoWrapper,
    .sliderRoomBrowseHeaderWrapper,
    .middleRightHeader {
        padding-right: 45px;
    } 
}

.middleHeaderWrapper {
    padding-top: 45px;
}



/* weaversfarmandfurniture.com */
.weavers-farm-and-furniture .mobileStaticHeaderWrapper {
    background-color: rgb(117, 15, 28);
    height: 35px;
}

.weavers-farm-and-furniture .mobileStaticHeaderWrapper a {
    line-height: 31px!important;
    font-size: 15px!important;
}
.weavers-farm-and-furniture .mobileStaticHeaderWrapper a .fab {
    font-size: 20px;
    line-height: 30px;
}

.weavers-farm-and-furniture .wood-background {
    background-image: none;
}

.weavers-farm-and-furniture .mobileContactLink:after {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-left: 5px;
}
.weavers-farm-and-furniture .furnitureMenuButton a {
    height: 40px;
    width: 40px;
    top: -20px;
}
.weavers-farm-and-furniture .furniture-infinite-grid-items a:hover {
    color: #9e8d4a; 
}

.weavers-farm-and-furniture .mobileStaticContactWrapper .mobileContactLink {
    justify-content: flex-end;
    flex-direction: row-reverse; 
}
.weavers-farm-and-furniture .mobileStaticSocialWrapper a i {
    width: 30px;
    text-align: center;
}

.weavers-farm-and-furniture .desktopMainMenuWrapper {
    justify-content: center;
}

@media screen and (max-width: 410px) {
    .weavers-farm-and-furniture .deskTopHeaderInfo {
        display: none!important;
    }
}

@media screen and (max-width: 863px) {
    .weavers-farm-and-furniture .mobileStaticHeader > div > div {
        padding: 0em 0em;
    }
    .weavers-farm-and-furniture .mobileStaticContactWrapper p,
    .weavers-farm-and-furniture .mobileStaticContactWrapper .mobileContactLink {
        margin: 0;
        /* height: 50px; 
        line-height: 50px; */
    }
    .weavers-farm-and-furniture .mobileStaticHeader {
        padding-top: 0em;
        padding-bottom: 0em;
    }
    .weavers-farm-and-furniture .deskTopHeaderInfo {
        display: inline;
    }
    .weavers-farm-and-furniture .mobileStaticSocialWrapper a {
        height: 50px;
    }
    .weavers-farm-and-furniture .mobileStaticSocialWrapper .fa-2x {
        line-height: 50px;
    }

    .weavers-farm-and-furniture .headerWrapper {
        max-height: 187px;
        border-bottom: 7px solid #750f1c;
    }
    .weavers-farm-and-furniture a#mobileContactCall {
        text-align: right;
    }
    .weavers-farm-and-furniture .mobileStaticSocial > div > ul {
        margin: 0;
    }
    .weavers-farm-and-furniture .mobileStaticHeader > div:first-child {
        width: 33%;
    }
    .weavers-farm-and-furniture .mobileStaticHeader > div:last-child {
        width: 66%;
    }
}

@media screen and (min-width: 864px) {
    .weavers-farm-and-furniture .mobileStaticHeaderWrapper {
        height: 50px;
    }
    .weavers-farm-and-furniture .mobileStaticHeader {
        padding-top: 10px;
        padding-bottom: 0;
    }
    .weavers-farm-and-furniture .deskTopHeaderInfo {
        padding-left: 12px
    }
    .weavers-farm-and-furniture .mobileStaticHeaderWrapper.boxShadow *:not(.deskTopHeaderInfo) {
        /* outline: 1px solid yellow; */
        display: flex!important;
        /* padding: 0; */
        margin: 0;
        /* font-weight: 400;
        align-items: center;
        justify-content: center; */
    }
    .weavers-farm-and-furniture .desktopMainMenuWrapper li {
        padding: 0 12px;
    }
    .weavers-farm-and-furniture .mobileStaticContact,
    .weavers-farm-and-furniture .mobileStaticContact *:not(.deskTopHeaderInfo) {
        width: 100%;
    }
}

@media screen and (min-width: 50em){
    .weavers-farm-and-furniture .desktopMainMenuWrapper {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
    }
    .weavers-farm-and-furniture .desktopMainMenuWrapper ul {
        padding-top: 0!important;
    }
    .weavers-farm-and-furniture .mobileStaticSocialWrapper,
    .weavers-farm-and-furniture .mobileStaticContactWrapper {
        width: 25%;
    }
    .weavers-farm-and-furniture .mobileStaticSocialWrapper {
        justify-content: left;
    }
    .weavers-farm-and-furniture .mobileStaticSocialWrapper a {
        width: 35px;
    }

}
@media screen and (min-width: 800px) and (max-width: 1280px){
    .weavers-farm-and-furniture .deskTopHeaderInfo {
        display: none!important;
    }
    .weavers-farm-and-furniture .mobileStaticContact .siteorigin-widget-tinymce {
        flex-direction: row-reverse;
    }
    .weavers-farm-and-furniture .mobileStaticContact .siteorigin-widget-tinymce p {
        width: auto;
    }
    .weavers-farm-and-furniture .mobileStaticContactWrapper .mobileContactLink {
        width: 35px;
    }
    .weavers-farm-and-furniture .desktopMainMenuWrapper {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 70%;
    }
    .weavers-farm-and-furniture .mobileStaticSocialWrapper,
    .weavers-farm-and-furniture .mobileStaticContactWrapper {
        width: 15%;
    }
}
@media only screen and (max-width: 799px) {
    .weavers-farm-and-furniture .grid-container.collection-image.object-home {
        grid-template-columns: repeat(1, 1fr);
    }    
}
@media only screen and (min-width: 800px) and (max-width: 1024px){
    .weavers-farm-and-furniture .grid-container.collection-image.object-home {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media screen and (min-width: 1024px){
    .weavers-farm-and-furniture .grid-container.collection-image.object-home {
        grid-template-columns: repeat(3, 1fr);
    }
    .weavers-farm-and-furniture .grid-container.collection-image.object-home a.grid-item {
        height: 320px;
    }
}


/* charihofurniture.com */
body.chariho-furniture, 
body.chariho-furniture h1, 
body.chariho-furniture h2, 
body.chariho-furniture h3, 
body.chariho-furniture h4, 
body.chariho-furniture h5, 
body.chariho-furniture h6, 
body.chariho-furniture li, 
body.chariho-furniture a {
    font-family: 'Montserrat', sans-serif!important;
}

aside.chariho-furniture header {
    padding-top: 15px;
    padding-bottom: 5px;
    /* background-image: url(https://charihofurniture.com/wp-content/themes/selectConnectLeftDrawerStyle/assets/images/main-background-wood-grain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
aside.chariho-furniture header h2 {
    color: #00375b;
}

.chariho-furniture .mobileMenuWrapper {
    bottom: 45px;
    /* width: calc(100% - 45px); */
    width: 100%;
}
.chariho-furniture .mobileMenuWrapper,
.chariho-furniture .mobileButtonWrapper {
    margin-left: -1.5em;
}


.chariho-furniture .mobileButtonWrapper,
.chariho-furniture .mobileStaticHeaderWrapper {
    /* width: calc(100% - 45px); */
    width: 100%;
}
@media only screen and (min-width: 1024px){
    .grid-container.collection-image.object-home.chariho-furniture {
        grid-template-columns: repeat(3, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.chariho-furniture .grid-item{
        height: 300px;
    }
}

.furniture-single-view .title-highlight {
    background-color: #009aff!important;
}
.breadcrumbs.container {
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 1400px) {
    .breadcrumbs.container {
        max-width: 1400px;
    }   
}

/* padutchwoodcraft.com  */
body.pa-dutch-woodcraft { 
    background-image: none!important;
}
body.home.pa-dutch-woodcraft .custom-logo-link img { 
    max-width: 170px;
}
.pa-dutch-woodcraft a#loadMore {
    background-color: black;
    color: #dcad6f;
}

.pa-dutch-woodcraft .furnitureMenuButton a {
    position: relative;
    height: 40px;
    width: 40px;
    top: inherit;
    display: inline-block;
}
.pa-dutch-woodcraft .footerIconsWrapper { 
    position: relative;
}
.pa-dutch-woodcraft .footerIconsWrapper:after {
    width: 100%;
    display: block;
    height: 40px;
    background-image: url('../img/first-place-ribbon.png');
    background-position: center top;
    background-size: 40px;
    content: '';
    background-repeat: no-repeat;
    top: -20px;
    position: absolute;
    left: 0;
    z-index: 1;
}

.pa-dutch-woodcraft .container.product-details {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
}

.pa-dutch-woodcraft .form-shortcode-wrapper {
    margin-top: -20px;
}

@media only screen and (min-width: 1024px){
    body.home.pa-dutch-woodcraft .headerWrapper {
        position: absolute!important;
        background-image: none!important;
    }

    .grid-container.collection-image.object-home.pa-dutch-woodcraft {
        grid-template-columns: repeat(4, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.pa-dutch-woodcraft .grid-item{
        height: 340px;
    } 
}

@media all and (min-width:82em){
  body.pa-dutch-woodcraft .bottomLinks{
    width: 33.33%;
  }
}


/* circlesinthewind.us  */
.circles-in-the-wind  .form-shortcode-wrapper {
    margin-top: -25px;  
}
.circles-in-the-wind .gform_confirmation_message {
    margin-top: 25px;
}

@media only screen and (min-width: 1024px){
    .grid-container.collection-image.object-home.circles-in-the-wind {
        grid-template-columns: repeat(4, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.circles-in-the-wind .grid-item{
        height: 340px;
    } 
}


/* shopach.com  */
/* amish-country-heirlooms-arthur-il  */
.home.amish-country-heirlooms-arthur-il .outerFurnitureLinkBoxWrapper {
    display: none!important;
}
.amish-country-heirlooms-arthur-il .noSliderSpacer {
    display: block;
    padding-top: 15em;
    margin-bottom: -2.5em;
}
.amish-country-heirlooms-arthur-il .furniture-infinite-grid-items.cabinets,
.amish-country-heirlooms-arthur-il.bedroom.furniture-category .furniture-infinite-grid-items.accessories,
.amish-country-heirlooms-arthur-il.office.furniture-category .furniture-infinite-grid-items.accessories {
    position: absolute!important;
    left: -10000px!important;
}


@media (min-width: 54em){
    .amish-country-heirlooms-arthur-il .noSliderSpacer {
        margin-bottom: -3.8em;
        padding-top: 20em;
    }
}

.amish-country-heirlooms-arthur-il .custom-logo {
    max-width: 255px;
}
.amish-country-heirlooms-arthur-il .swiperContentWrapper {
    padding-top: 19em;
}
.amish-country-heirlooms-arthur-il .desktopHeaderWrapper {
    background-color: transparent;
}
.amish-country-heirlooms-arthur-il .facebook-link-mobile {
    display: block;
}
.amish-country-heirlooms-arthur-il .facebook-link-desktop {
    display: none;
}
.amish-country-heirlooms-arthur-il .innerSwiperContentWrapper {
    background-color: rgba(255, 255, 255, 1);
}
.amish-country-heirlooms-arthur-il a.header-icon img {
    max-height: 25px;
    margin: 0px 6px;
}

.amish-country-heirlooms-arthur-il .fixedHeaderWrapper {
    text-align: center;
}
.amish-country-heirlooms-arthur-il .fixedHeader {
    max-width: 1200px;
    padding: 0 2em;
}
.amish-country-heirlooms-arthur-il .fixedHeader > div.phoneWidgetWrapper {
    text-align: left;
}
.amish-country-heirlooms-arthur-il .fixedHeader > div.addressWidgetWrapper {
    text-align: right;
}
.amish-country-heirlooms-arthur-il .mobileMenu ul,
.amish-country-heirlooms-arthur-il .menu-item.menu-item-has-children .sub-menu {
    padding-top: 0em;
}

.amish-country-heirlooms-arthur-il #menu-main-menu > li > a { display: block; }

.amish-country-heirlooms-arthur-il .menu-item.menu-item-has-children.openSubMenu > a {
    background-color: #000000;
    color: #f2eee9;
}


.amish-country-heirlooms-arthur-il .desktopHeaderWrapper {
    padding-top: 45px;
}
.amish-country-heirlooms-arthur-il .flexMenuWrapper {
    display: block;
}
.amish-country-heirlooms-arthur-il .leftMenuWrapper {
    display: none;
}
.amish-country-heirlooms-arthur-il .logoWrapper {
    width: 100%;
}

.amish-country-heirlooms-arthur-il .rightMenuWrapper {
    width: 100%;
}

.amish-country-heirlooms-arthur-il #menu-item-2163,
.amish-country-heirlooms-arthur-il #menu-item-2166,
.amish-country-heirlooms-arthur-il #menu-item-2164,
.amish-country-heirlooms-arthur-il #menu-item-2165 {
    display: none;
}

.amish-country-heirlooms-arthur-il .element-is-not-sticky #menu-item-2163,
.amish-country-heirlooms-arthur-il .element-is-not-sticky #menu-item-2166,
.amish-country-heirlooms-arthur-il .element-is-not-sticky #menu-item-2164,
.amish-country-heirlooms-arthur-il .element-is-not-sticky #menu-item-2165 {
    display: block;
}
.amish-country-heirlooms-arthur-il #menu-every-items-menu.element-is-sticky {
    border-bottom: 2px solid;
}

.amish-country-heirlooms-arthur-il .rightMenuWrapper ul.menu {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
}

.amish-country-heirlooms-arthur-il .breaker {
    font-size: 0;
    flex-basis: 100%;
    height: 0px;
}

.amish-country-heirlooms-arthur-il .wideMenuWrapper li {
    padding-left: 0;
    padding-right: 0;
}


@media only screen and (max-width: 640px){
    .amish-country-heirlooms-arthur-il .logoWrapper,
    .amish-country-heirlooms-arthur-il .mobileButtonWrapper {
        width: 100%!important;
    }
}
@media only screen and (min-width: 800px){
    .amish-country-heirlooms-arthur-il .facebook-link-mobile {
        display: none;
    }
    .amish-country-heirlooms-arthur-il .facebook-link-desktop {
        display: block;
    }
}

@media only screen and (min-width: 1024px){
    .grid-container.php-home-categories.collection-image.object-home.amish-country-heirlooms-arthur-il {
        grid-template-columns: repeat(4, 1fr)!important;
        gap: 25px;
    }
    .grid-container.php-home-categories.collection-image.object-home.amish-country-heirlooms-arthur-il .grid-item{
        height: 300px;
    }
}


/* theamishconnection.com */
.amish-connection .mobileStaticHeaderWrapper {
    height: 50px;
    background-color: #000;
}
.amish-connection .mobileStaticHeader {
    padding-top: 0em;
}
.amish-connection a:hover {
    letter-spacing: normal!important;
}
.amish-connection .swiperOverlay {
    background-color: rgba(255, 255, 255, 0.25);
}
.amish-connection .SlideHeadlineWrapper h2,
.amish-connection .SlideHeadlineWrapper h3,
.amish-connection .SlideHeadlineWrapper a.ctaLink {
    text-shadow: 1px 2px 3px white;
}

.amish-connection.furniture-category .single-page-article .entry > div.pagination-wrap {
    display: none;
}
.amish-connection.furniture-category .single-page-article .entry {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    display: flex;
    flex-direction: column-reverse;
}

/* Share AddThis.com */
.at-share-btn-elements {
    max-width: 250px;
}
.at-svc-print {
    background-color: rgb(168 168 168);
    margin-top: 5px;
}
.at-svc-print:after {
    content: 'Print / Save as PDF';
    display: inline-block;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    font-size: 16px;
    line-height: 29px;
    font-weight: 700;
    margin-right: 15px;
    margin-top: 3px;
    letter-spacing: 1px;
    margin-left: 15px;
}
.at-resp-share-element .at-share-btn:focus, 
.at-resp-share-element .at-share-btn:hover {
    transform: none!important;
    -ms-transform: none!important;
    -moz-transform: none!important;
    -webkit-transform: none!important;
}

/* benchley-s-amish-furniture */
.benchley-s-amish-furniture .noSliderSpacer {
    display: block;
    padding-top: 20em;
} 
.benchley-s-amish-furniture .noSliderSpacer {
    display: block;
    padding-top: 20em;
} 
.benchley-s-amish-furniture.furniture-page .noSliderSpacer,
.benchley-s-amish-furniture.furniture-single-view .noSliderSpacer {
    padding-top: 17em;
}

.benchley-s-amish-furniture .swiperContent {
    border-top: none;
} 

.benchley-s-amish-furniture .container.product-details {
	width: 100%;
}
.benchley-s-amish-furniture .form-shortcode-wrapper {
    margin-top: -20px;
}


@media only screen and (min-width: 1024px){
    .grid-container.collection-image.object-home.benchley-s-amish-furniture {
        grid-template-columns: repeat(4, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.benchley-s-amish-furniture .grid-item{
        height: 340px;
    } 
}


@media (min-width: 1300px){
	.benchley-s-amish-furniture .container.product-details .right-column {
	    width: 50%;
	}
}


/* amish-custom-furniture */
.amish-custom-furniture .furnitureMenuButton {
    display: inline-block;
}

.amish-custom-furniture .furnitureMenuButton a {
    top: -10px;
}

.amish-custom-furniture .mobileMenu ul {
	padding-top: 0;
}

.amish-custom-furniture .swiperOverlay {
    background-color: rgba(255, 255, 255, 0);
}

.amish-custom-furniture .innerSwiperContentWrapper {
    background-color: rgba(255, 255, 255, 0.2);
}

.amish-custom-furniture .SlideHeadlineWrapper h2,
.amish-custom-furniture .SlideHeadlineWrapper h3 {
    font-weight: 600;
}

.amish-custom-furniture .logoWrapper::before {
    height: auto;
}

.amish-custom-furniture .desktopMenuWrapper ul {
    border-bottom: 1px solid #72949c;
}


.amish-custom-furniture.furniture-category .SlideHeadlineWrapper {
    padding: 3.5em 2em;
    padding-left: 2em;
}

.amish-custom-furniture.furniture-category .slideHeadline {
    text-align: center;
}

.amish-custom-furniture.furniture-category .slideHeadline h3:empty {
	display: none;
}

.amish-custom-furniture .container.product-details {
	width: 100%;
}

.amish-custom-furniture.furniture-category a.ctaLink {
	display: none;
}

.amish-custom-furniture .furnitureCustomizationBlockWrapper{
	margin-top: -10px;
}

.amish-custom-furniture  .form-shortcode-wrapper {
    margin-top: -25px;  
}

.amish-custom-furniture .bottomLinks,
.amish-custom-furniture .bottomLinks:nth-child(n+5) {
    width: 48%;
    margin: 1%;
}


@media (min-width: 50em){
    .amish-custom-furniture .logoWrapper::before {
        height: auto;
    }
}

@media screen and (max-width: 799px){
	.amish-custom-furniture .mobileStaticContactWrapper, 
	.amish-custom-furniture .mobileStaticContactWrapper * {
        width: 100vw;
	}

    .amish-custom-furniture .mobileStaticSocialWrapper {
        width: 50%;
    }
	
	.amish-custom-furniture #mobileContactLocation,
	.amish-custom-furniture #mobileContactCall {
		width: 50vw!important;
	}
	
	.amish-custom-furniture .SlideHeadlineWrapper {
	    padding: 3.5em 1.5em;
	    padding-left: 1.5em;
	}
	.amish-custom-furniture a.ctaLink {
	    right: auto;
	    left: 1em;
	}
}

@media screen and (min-width: 800px){
	.amish-custom-furniture .mobileStaticContactWrapper {
		text-align: right;
	}	
	.amish-custom-furniture .mobileContactLink {
		width: auto!important;
	}
}

@media only screen and (min-width: 1024px){
    .grid-container.collection-image.object-home.amish-custom-furniture {
        grid-template-columns: repeat(3, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.amish-custom-furniture .grid-item{
        height: 300px;
    }
}

@media (min-width: 75em){
    .amish-custom-furniture .bottomLinks,
    .amish-custom-furniture .bottomLinks:nth-child(n+5) {
        width: 32%;
        margin: 0.5%;
    }
}



/* apple-ridge-amish-furniture */
.home.apple-ridge-amish-furniture svg#curveUpColor {
    transform: rotate(180deg);
    position: absolute;
    margin-top: -200px;
}
.apple-ridge-amish-furniture .twoColRow > div:last-child {
	padding: 2em!important;
}

.apple-ridge-amish-furniture .twoColRow > div > div:last-child {
	background-repeat: no-repeat;
	background-position: center;
}

.apple-ridge-amish-furniture.custom-furniture-refinishing .textwidget {
	text-align: center;
}

.apple-ridge-amish-furniture .container.product-details {
    width: 90%;
}

.apple-ridge-amish-furniture .form-shortcode-wrapper {
    margin-top: -20px;
}
.apple-ridge-amish-furniture .at-svc-print:after {
    margin-right: 25px;
}


@media screen and (max-width: 799px) {
	.apple-ridge-amish-furniture .mobileStaticHeader {
		padding-top: 0;
		padding-bottom: 0;
	}
	.apple-ridge-amish-furniture .mobileStaticSocialWrapper p,
	.apple-ridge-amish-furniture .mobileStaticContactWrapper p {
		text-align: center;
	}
}
@media screen and (min-width:800px) and (max-width: 1199px) {
	.apple-ridge-amish-furniture .mobileStaticContact p {
		text-align: right;
	}
}
@media screen and (min-width:1200px) {
	.apple-ridge-amish-furniture #mobileContactLocation,
	.apple-ridge-amish-furniture #mobileContactCall {
		width: 100%;
	}	
}
@media (min-width: 54em){
	.apple-ridge-amish-furniture .stickyMenu {
	    top: 45px;
	}
	.apple-ridge-amish-furniture .logo {
	    max-width: 520px;
	}
}
@media (min-width: 800px){
	.apple-ridge-amish-furniture .mobileStaticHeader {
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	    -webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	    align-content: flex-start;
	    -webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;
	}
	.apple-ridge-amish-furniture .mobileStaticSocialWrapper,
	.apple-ridge-amish-furniture .mobileStaticContactWrapper,
	.apple-ridge-amish-furniture .desktopMainMenuWrapper {
        width: auto!important;
	    -webkit-order: 0;
	    -ms-flex-order: 0;
	    order: 0;
	    -webkit-flex: 0 1 auto;
	    -ms-flex: 0 1 auto;
	    flex: 0 1 auto;
	    -webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	    align-self: auto;
	}
	.apple-ridge-amish-furniture .desktopMainMenuWrapper {
	    -webkit-flex: 2 1 auto;
	    -ms-flex: 2 1 auto;
	    flex: 2 1 auto;
	}
	.apple-ridge-amish-furniture .desktopMainMenuWrapper li {
		padding-left: 5px!important;
		padding-right: 5px!important;
	}
}

@media (min-width: 1000px){
	.apple-ridge-amish-furniture .desktopMainMenuWrapper li {
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
}

@media screen and (max-width: 1199px){
 	.apple-ridge-amish-furniture.custom-furniture-refinishing .siteorigin-panels-stretch.panel-row-style.panel-row-style-for-3418-2 {
 		padding-left: 30px!important;
 		padding-right: 30px!important;
 	}
 	.apple-ridge-amish-furniture.custom-furniture-refinishing #pgc-3418-2-1 > div {
		padding: 0!important;
	}
}
@media screen and (min-width: 1200px){
	.apple-ridge-amish-furniture.custom-furniture-refinishing #pgc-3418-2-1 > div {
		padding: 2em!important;
	}
	.apple-ridge-amish-furniture.custom-furniture-refinishing .textwidget {
		text-align: right;
	}
}

@media screen and (min-width: 1024px){
    .apple-ridge-amish-furniture .grid-container.collection-image.object-home {
        grid-template-columns: repeat(3, 1fr);
    }
    .apple-ridge-amish-furniture .grid-container.collection-image.object-home a.grid-item {
        height: 320px;
    }
}

/* six-cats */ 
.apple-ridge-amish-furniture .bottomLinks {
    width: 50%;
}
@media screen and (min-width: 800px){
	.apple-ridge-amish-furniture .bottomLinks {
	    width: 33.3%;
	}
}

@media screen and (min-width: 1400px){
	.apple-ridge-amish-furniture .bottomLinks {
	    width: 16.6%;
	}
}



/* amish-furniture-of-bristol */
.amish-furniture-of-bristol .form-shortcode-wrapper {
    margin-top: -20px;
}

.amish-furniture-of-bristol .pum-container.custom-position {
	background-color: transparent!important;
	border: none!important;
}

.amish-furniture-of-bristol .pum-container.custom-position .pum-title {
	color: #aeff00!important;
	font-weight: 900;
	text-align: center;
}

.amish-furniture-of-bristol .pum-container .pum-content+.pum-close {
	right: 15px!important;
    top: 100px!important;
}


@media screen and (min-width: 1024px){
    .amish-furniture-of-bristol .grid-container.collection-image.object-home {
        grid-template-columns: repeat(3, 1fr);
    }
    .amish-furniture-of-bristol .grid-container.collection-image.object-home a.grid-item {
        height: 320px;
    }
}

@media screen and (min-width: 1200px){
    .amish-furniture-of-bristol .container.product-details {
        width: 100%;
        padding: 2em;
    }
}

/* amish-hills-handmade-furniture */
.amish-hills-handmade-furniture .form-shortcode-wrapper {
    margin-top: -25px;
}
.amish-hills-handmade-furniture.product-details .product-data th,
.amish-hills-handmade-furniture.product-details .product-data td{ 
    padding: 0.5em 0.5em;
    vertical-align: middle;
    font-size: 0.8em;
}
@media screen and (max-width: 799px){ 
    .amish-hills-handmade-furniture .site-top-bar {
        padding: 5px 10px 5px 10px!important;
    }
    .amish-hills-handmade-furniture .elementor-nav-menu li {
        text-transform: uppercase;
    }
    .amish-hills-handmade-furniture .elementor-nav-menu li.sub-menu-cat.menu-item {
        border-left: 10px solid #cecece;
        text-transform: none!important;
    }
}


/* bernhaus-furniture-berne-in */
.bernhaus-furniture-berne-in .mainFurnitureBoxWrapper {
    overflow: hidden;
}

.bernhaus-furniture-berne-in.living-room.furniture-category .furniture-infinite-grid-items.bookcase {
    position: absolute!important;
    left: -10000px!important;
}

.bernhaus-furniture-berne-in .mobileMenu .menu-left-menu {
	padding-top: 0!important;
}

.bernhaus-furniture-berne-in .container.product-details {
    width: 100%;
    padding: 2em;
}

.bernhaus-furniture-berne-in .form-shortcode-wrapper {
    margin-top: -20px;
}

@media screen and (max-width: 799px){
	.bernhaus-furniture-berne-in .furnitureMenuWrapper, 
	.bernhaus-furniture-berne-in .mainMenuWrapper {
	    bottom: 45px!important;
	}
	.bernhaus-furniture-berne-in .furnitureMenu ul {
		padding-top: 0;
	}
}

@media screen and (min-width: 1100px){
    .grid-container.collection-image.object-home.bernhaus-furniture-berne-in {
        grid-template-columns: repeat(4, 1fr)!important;
        gap: 25px;
    }
    .grid-container.collection-image.object-home.bernhaus-furniture-berne-in .grid-item{
        height: 340px;
    } 
}

@media all and (min-width:60em){
    .bernhaus-furniture-berne-in .bottomLinks:nth-child(n+5){
        width: 25%;
    }
}

/*********/
/* PRINT */
/*********/ 

@media print {

    /* .row-options-header,
    .row-options-header *,
    .row-variants-header,
    .row-variants-header *, */
    .row-highlight-header label span.placeholder,
    aside,
    aside *,
    footer,
    footer *,
    .headerCalloutWrapper,
    .headerCalloutWrapper *,
    .breadcrumbs,
    .breadcrumbs *,
    .fixedHeaderWrapper,
    .get-quote-form-btn,
    .get-quote-form-btn *,
    .furnitureCustomizationBlockWrapper,
    .furnitureCustomizationBlockWrapper *,
    .furnitureOptionsBlockWrapper,
    .furnitureOptionsBlockWrapper *,
    .contactBlockWrapper,
    .contactBlockWrapper *,
    #menu-every-items-menu, 
    #menu-main-menu,
    #menu-main-menu *,
    #scroll-top,
    #scroll-top *,
    .desktopMenu,
    .desktopMenu *,
    .pageBottomWrapper,
    .pageBottomWrappe *,
    .zoomImg,
    .outerFurnitureLinkBoxWrapper,
    .outerFurnitureLinkBoxWrapper *,
    .footerCopyrightWrapper,
    .footerCopyrightWrapper *,
    .zoom:before,
    .zoom:after,
    .at-svc-print:after,
    .form-close-icon,
    .snackbar-close,
    .wood-type-img,
    .row-options-header:after, 
    .row-variants-header:after,
    .addthis_inline_share_toolbox,
    .elementor-location-header,
    .elementor-location-footer,
    #curveUpColor,
	#curveDownColor,
	.furnitureOptionsOuterWrapper,
	.contactCTAWrapper,
	.mobileButtonWrapper
    { 
        display: none!important;
    }
    .pa-dutch-woodcraft #menu-main-menu,
    .pa-dutch-woodcraft #menu-main-menu * {
        display: block!important;
    }
    .pa-dutch-woodcraft #menu-item-1512,
    .pa-dutch-woodcraft #menu-item-1513 {
        display: inline-block!important;
    }
    .pa-dutch-woodcraft #menu-item-18,
    .pa-dutch-woodcraft #menu-item-19,
    .pa-dutch-woodcraft #menu-item-1541 {
        display: none!important;
    }

    .row-option, .row-variant {
        display: table-row!important;
    }
    table.product-data {
        font-size: 18px!important;
        color: black!important;
    }

    .logoWrapper {
		padding-top: 0!important;
	}

    img.custom-logo,
    .left-column,
    .right-column {
        display: block!important;
    }
    img.custom-logo {
        margin-top: 10mm;
    }
    img#hover-effect {
        width: auto!important;
        max-height: 150mm!important;
        margin: 10mm auto 0mm auto!important;
    }
    a[href]:after {
        content: none !important;
    }
}
